.card-array-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0;
}

.card-details {
    border: 1px solid black;
    margin: 0.2rem 0.5rem;
    padding: 0.3rem;
}

.dead-attack-options-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}